
@model WebUniversity1Entity.Models.StudentGroupsAdd

@*IEnumerable<DTO.StudentDTO>*@


<div>
   
    <h1>Our students</h1>
    <div>
        @Html.ActionLink("Add Student", "AddStudent", "Students")
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td><strong>Name</strong></td>
                    <td><strong>Age</strong></td>
                    <td><strong>Group</strong></td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="studentsList">
                @foreach (var stud in Model.Students)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@stud.Id" />
                        </td>
                        <td>
                            <span>@stud.Name</span>
                        </td>
                        <td>
                            <span>@stud.Age</span>
                        </td>
                        <td>
                            <span>@stud.GroupName</span>
                        </td>
                        <td>
                            <span> | @Html.ActionLink("Edit", "EditStudent", new { id = stud.Id })</span>
                        </td>
                        <td>
                            <span> | @Html.ActionLink("Delete", "DeleteStudent", new { id = stud.Id })</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        Name 
        <input type="text" id="studentName">
        Age 
        <input type="number" id="studentAge">
        Group 
        <select name="GroupId" class="form-control">
            @foreach (var group in Model.Groups)
            {
                <option value="@group.Id">@group.Name</option>
            }
        </select>
         <input type="button" id="AjaxAddStudent" value="Add student"/>
        
       
    </div>
</div>
@Scripts.Render("~/Scripts/Add-student.js")
