@model IEnumerable<DTO.SubjectDTO>

<div>
    <h1>Our subjects</h1>
    <div>
        @Html.ActionLink("Add Subject", "AddSubject", "Subjects")
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td><strong>Name</strong></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var subj in Model)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@subj.Id" />
                        </td>
                        <td>
                            <span>@subj.Name</span>
                        </td>
                        <td>
                            <span> | @Html.ActionLink("Edit", "EditSubject", new { id = subj.Id })</span>
                        </td>
                        <td>
                            <span> | @Html.ActionLink("Delete", "DeleteSubject", new { id = subj.Id })</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

